# Simple MapD concurrent SQL query tests

This notebook uses `pymapd` and `ProcessPoolExecutor` from `concurrent.futures` to run simple performance tests on MapD in order to evaluate MapD's concurrent query performance.

The testbed used to create this Jupyter notebook is a 2017 MacBook Pro with an Intel Core i7-7700HQ CPU, 16 GB of RAM and a 512 GB SSD. In addition, an NVIDIA GTX 1080 Ti (having 3584 cores and 11GB global memory) connected via Thunderbolt 3 to an eGPU enclosure served as GPU accelerator.

In [1]:
import time
from concurrent.futures import ThreadPoolExecutor, ProcessPoolExecutor
from functools import partial
from pymapd import connect

Connect to MapD standard database using default user and password.

Note: before this statement can be executed it is necessary to start the MapD server using for example the 'startmapd' shell script.

In [22]:
con = connect(dbname="mapd", user="mapd", password="HyperInteractive", host="localhost")
con

Connection(mapd://mapd:***@localhost:9091/mapd?protocol=binary)

### i) Define test queries to execute

All queries defined below are run against the 2013 New York City Yellow taxi trip data (about 173 million records) retrieved from the following website: https://data.cityofnewyork.us/Transportation/2013-Yellow-Taxi-Trip-Data/7rnv-m532

#### A - Simple queries on a single month data subset

In [3]:
query1 = """ SELECT COUNT(*) as val 
             FROM nyc_trip_2013 
             WHERE ((pickup_datetime >= CAST('2013-05-01 00:00:00' AS TIMESTAMP(0)) AND 
                     pickup_datetime <= CAST('2013-05-31 00:00:00' AS TIMESTAMP(0)))) """

In [4]:
query2 = """ SELECT payment_type as key0, COUNT(*) AS val 
             FROM nyc_trip_2013 
             WHERE ((pickup_datetime >= CAST('2013-05-01 00:00:00' AS TIMESTAMP(0)) AND 
                     pickup_datetime <= CAST('2013-05-31 00:00:00' AS TIMESTAMP(0)))) 
             GROUP BY key0 
             ORDER BY val DESC LIMIT 100 """

In [5]:
query3 = """ SELECT PG_EXTRACT('isodow', pickup_datetime) as key0,
                    PG_EXTRACT('hour', pickup_datetime) as key1, 
                    COUNT(*) AS color
              FROM nyc_trip_2013 
              WHERE ((pickup_datetime >= CAST('2013-05-01 00:00:00' AS TIMESTAMP(0)) AND 
                      pickup_datetime <= CAST('2013-05-31 00:00:00' AS TIMESTAMP(0)))) 
              GROUP BY key0, key1
              ORDER BY key0, key1 """

In [6]:
query4 = """ SELECT cast((cast(trip_distance as float) - 0) * 0.4 as int) as key0, COUNT(*) AS val 
             FROM nyc_trip_2013
             WHERE (trip_distance >= 0 AND trip_distance <= 30) AND 
                   ((pickup_datetime >= CAST('2013-05-01 00:00:00' AS TIMESTAMP(0)) AND 
                     pickup_datetime <= CAST('2013-05-31 00:00:00' AS TIMESTAMP(0)))) 
             GROUP BY key0 
             HAVING key0 >= 0 AND key0 < 12
             ORDER BY key0 """

#### B - Complexer queries on the full data set

In [7]:
query5 = """ SELECT passenger_count,
                    cast(trip_distance as int) AS distance,
                    count(*) AS num_records
             FROM nyc_trip_2013
             WHERE pickup_datetime >= CAST('1970-01-01 00:00:00' AS TIMESTAMP(0)) AND
                   trip_distance <= 30
             GROUP BY passenger_count, distance
             ORDER BY distance, num_records desc """

In [8]:
query6 = """ SELECT vendor_id,
                    cast(trip_distance as int) AS distance,
                    count(*) AS num_records,
                    avg(fare_amount) as avg_amount,
                    min(fare_amount) as min_amount,
                    max(fare_amount) as max_amount
             FROM nyc_trip_2013
             WHERE pickup_datetime >= CAST('1970-01-01 00:00:00' AS TIMESTAMP(0)) AND
                   trip_distance <= 30
             GROUP BY vendor_id, distance
             ORDER BY vendor_id, distance asc """

### ii) Run single queries and measure baseline performance

In [9]:
%timeit con.execute(query1)

100 loops, best of 3: 17.2 ms per loop

In [10]:
%timeit con.execute(query2)

10 loops, best of 3: 29.7 ms per loop

In [11]:
%timeit con.execute(query3)

10 loops, best of 3: 39.7 ms per loop

In [12]:
%timeit con.execute(query4)

1 loop, best of 3: 436 ms per loop

In [13]:
%timeit con.execute(query5)

1 loop, best of 3: 338 ms per loop

In [14]:
%timeit con.execute(query6)

1 loop, best of 3: 1.38 s per loop

### iii) Run queries concurrently and measure elapsed time

In [15]:
all_queries = [(1, query1), (1, query1), (2, query2), (2, query2),
               (3, query3), (3, query3), (3, query3), (3, query3),
               (4, query4), (4, query4), (4, query4), (4, query4),
               (5, query5), (5, query5), (5, query5), (5, query5),
               (6, query6), (6, query6), (6, query6), (6, query6)]

#### Concurrent query execution helper methods

In [16]:
def execute_query(query_str):
    "Executes the given 'query_str' and returns the elapsed execution time"
    con = connect(dbname="mapd", user="mapd", password="HyperInteractive", host="localhost")
    t_start = time.time()
    con.execute(query_str)
    t_end = time.time()
    # con.close() -- connection should be closed, but execution fails when doing so
    return (t_end - t_start)

In [17]:
def do_query(query_tuple):
    query_id  = query_tuple[0]
    query_str = query_tuple[1]
    print("Starting query {0}\n".format(query_id))
    elapsed_time = execute_query(query_str)
    print("Completed query %d: in %0.1f (ms)\n" % (query_id, elapsed_time*1000.0))

#### Using the `map`-method of the `concurrent.futures.ThreadPoolExecutor` class to execute queries in `all_queries` concurrently

In [23]:
pex = ProcessPoolExecutor(max_workers=8)

In [24]:
ts = time.time()
list(pex.map(do_query, all_queries))
te = time.time()
print("Total elapsed time for all_queries: %0.1f (ms)\n" % (1000.0*(te-ts)))

Starting query 1
Starting query 2
Starting query 1
Starting query 2
Starting query 3
Starting query 3



Starting query 3


Starting query 3



Completed query 1: in 49.2 (ms)

Starting query 4

Completed query 1: in 68.6 (ms)

Starting query 4

Completed query 3: in 112.9 (ms)

Starting query 4

Completed query 3: in 143.3 (ms)

Starting query 4

Completed query 2: in 167.5 (ms)

Starting query 5

Completed query 2: in 199.1 (ms)

Starting query 5

Completed query 3: in 208.5 (ms)

Starting query 5

Completed query 3: in 225.7 (ms)

Starting query 5

Completed query 4: in 643.9 (ms)

Starting query 6

Completed query 4: in 1055.4 (ms)

Starting query 6

Completed query 4: in 1480.8 (ms)

Starting query 6

Completed query 4: in 1910.8 (ms)

Starting query 6

Completed query 5: in 2216.3 (ms)

Completed query 5: in 2515.0 (ms)

Completed query 5: in 2388.4 (ms)

Completed query 5: in 2273.9 (ms)

Completed query 6: in 3207.6 (ms)

Completed query 6: in 4135.8 (ms)

Completed query 6: in 5179.2 (ms)

Completed query 6: in 6233.2 (ms)

Total elapsed time for all_queries: 9101.4 (ms)

#### Dispose `ThreadPoolExecutor` instance

In [20]:
pex.shutdown()

### iii) Close Mapd database connection

In [21]:
con.close()